<div class="card-container">
  <div class="frist-row">
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option (click)="this.selectRegion()" value="Asia">Asia</mat-option>
        <mat-option (click)="this.selectRegion()" value="Europe"
          >Europe</mat-option
        >
        <mat-option (click)="this.selectRegion()" value="Africa"
          >Africa</mat-option
        >
        <mat-option (click)="this.selectRegion()" value="Oceania"
          >Oceania</mat-option
        >
        <mat-option (click)="this.selectRegion()" value="Polar"
          >Polar</mat-option
        >
        <mat-option (click)="this.selectRegion()" value="Americas"
          >Americas</mat-option
        >
        <mat-option (click)="this.selectRegion()" value="Polar"
          >Polar</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div
    *ngFor="let item of selectedRegion; index as i"
    (click)="countryDetailsView(i)"
    class="country-card"
  >
    <mat-card
      *ngIf="searchText === '' || item.name.toLowerCase().includes(searchText)"
    >
      <div>
        <img src="{{ selectedRegion[i].flags.svg }}" alt="" />
      </div>
      <mat-card-header>
        <mat-card-title>
          {{ selectedRegion[i].name }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="space-between">
          <span style="font-weight: bold">Population: </span
          ><span class="lightgrey">{{
            selectedRegion[i].population
          }}</span></span
        >
        <span class="space-between"
          ><span style="font-weight: bold">Region: </span>
          <span class="lightgrey">{{ selectedRegion[i].region }}</span></span
        >
        <span class="space-between"
          ><span style="font-weight: bold">Capital: </span>
          <span class="lightgrey">{{ selectedRegion[i].capital }}</span></span
        >
      </mat-card-content>
    </mat-card>
  </div>
</div>
