.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.margin-right {
  margin-right: 32px;
}

h1 {
  font-weight: 500;
}

.declaration {
  font-size: 12px;
  font-weight: 500;
}

.input {
  font-size: 12px;
  font-weight: 400;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 84px);

  img,
  .img {
    width: 400px;
    height: 300px;
    margin-right: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    object-fit: cover;
  }
}

.country-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.flex-coulmn {
  display: flex;
  flex-direction: column;
}

.columns {
  width: 250px;

  div {
    display: flex;
    justify-content: space-between;
  }
}
