.space-between {
  display: flex;
  justify-content: space-between;
}

.lightgrey {
  color: rgb(119, 118, 118);
}

mat-toolbar {
  button {
    position: absolute;
    right: 50px;
    top: 20px;
  }
}
